---
layout: layout.njk
title: Tech
image: /assets/og/tech.png
---

<style>
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }

    .posts-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: 1rem;
        padding: 0;
        margin: 0;
    }

    .post-wrapper {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(63, 63, 70);
        border-radius: 0.5rem;
        list-style: none;
        width: 20rem;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
        margin: 0;
        overflow: hidden;
        background-color: white;
    }

    .post-image {
        width: 20rem;
        height: 20rem;
    }

    .post {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        width: 100%;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
        color: var(--zinc);
    }

    .post-title-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    .post-wrapper:hover {
        border-color: var(--teal-500);
        background-color: var(--teal-500);
    }

    @media (max-width: 1080px) {
        .posts-wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        .posts-wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>

<h1 style="margin-bottom:0.5rem;">Tech</h1>
<h4 class="gradient-text" style="text-align:center;margin-top:0.5rem;">Technical analysis, code snippets, and more
</h4>

<div class="wrapper">
    <ul class="posts-wrapper">
        {% for post in collections.tech %}
        <li style="list-style-type:none;" class="post-wrapper">
            <a href="{{ post.url }}" class="post">
                <img src="{{ post.data.card }}" alt="thumbnail" class="post-image" />
                <div class="post-title-wrapper">
                    <h4 style="margin:0;">{{ post.data.title }}</h4>
                    <small style="margin:0;">{{ post.date | date("MMMM d, yyyy") }}</small>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>