---
title: Home
image: /assets/og/default.png
layout: layout.njk
---

<style>
    .hero {
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 2rem;
        align-items: center;
        margin-top: 4.25rem;
    }

    .pfp-img {
        width: 20rem;
        border-radius: 100%;
    }

    .section {
        text-align: start;
        width: 100%;
        margin-top: 2.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section p {
        width: 100%;
    }

    .links {
        display: flex;
        column-gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    @media (max-width: 768px) {

        .hero {
            flex-direction: column;
            row-gap: 1rem;
            align-items: center;
            text-align: center;
        }
    }
</style>

<h1>Hello</h1>

<div class="hero">
    <img src="/assets/pfp.png" alt="pfp" class="pfp-img" />
    <div>
        <p>My name is Marco.</p>
        <p>I'm an engineer at heart, curious about the world.</p>
        <p>I work with creators to bring their ideas to life.</p>
    </div>
</div>

<div class="section">
    <h2 style="margin-bottom:0.5rem;">Current Work</h2>
    <p>I'm currently building <a href="https://transient.xyz" target="_blank">Transient Labs</a>,
        pushing the boundaries of digital art. A lot of my focus is on how creators can use software and
        the blockchain to enhance their creativity.
    </p>
    <p>We have done over $20 million in sales over the past 4 years. We built an open marketplace where artists can
        self-publish and sell their digital artwork.</p>
    <p>We also built a badass creative coding agent called <a href="https://juno.transient.xyz"
            target="_blank">Juno</a>. It helps artists create with code. It's insanely fun
        and cool.</p>
    <div class="links">
        <a href="/about"><button>Learn more</button></a>
        <a href="/blog"><button class="primary">Read my blog</button></a>
    </div>
</div>