@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #FBFEFF;
}

.bkg-rainbow {
  background: linear-gradient(to right, #EF474C, #F47D3D, #FBC056, #8DB37F, #2B82A3, #8E6AAD);
  background-clip: text;
}

.bkg-rainbow-to-bottom {
  background: linear-gradient(to bottom, #EF474C80, #F47D3D80, #FBC05680, #8DB37F80, #2B82A380, #8E6AAD80);
}

.brdr-rainbow {
  border-image: linear-gradient(to right, #EF474C, #F47D3D, #FBC056, #8DB37F, #2B82A3, #8E6AAD);
}